[Unit]
Description=SerwisWin Survey Bot
After=network.target
Wants=network-online.target

[Service]
Type=simple
User={{ bot_user }}
Group={{ bot_user }}
Environment=DATA_DIR={{ data_dir }}
WorkingDirectory={{ bot_dir }}
ExecStart=/usr/bin/python3 {{ bot_dir }}/bot.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
